# Ignore all image files in dataset folders and images directory
# Images directory (ignore everything in this folder)
images/
# Models directory (contains large model checkpoint files)
models/
# Dataset folders

image_set_2


TRAIN_RESULTS/

Data-label-Process/dataset_foods/**/*.jpeg
Data-label-Process/dataset_foods/**/*.jpg
Data-label-Process/dataset_foods/**/*.png
Data-label-Process/dataset_foods/**/*.gif
Data-label-Process/dataset_foods/**/*.JPG
Data-label-Process/dataset_foods/**/*.JPEG
Data-label-Process/dataset_foods/**/*.PNG
Data-label-Process/dataset_foods/**/*.GIF

Data-label-Process/dataset_foods_unlabeled/**/*.jpeg
Data-label-Process/dataset_foods_unlabeled/**/*.jpg
Data-label-Process/dataset_foods_unlabeled/**/*.png
Data-label-Process/dataset_foods_unlabeled/**/*.gif
Data-label-Process/dataset_foods_unlabeled/**/*.JPG
Data-label-Process/dataset_foods_unlabeled/**/*.JPEG
Data-label-Process/dataset_foods_unlabeled/**/*.PNG
Data-label-Process/dataset_foods_unlabeled/**/*.GIF

Data-label-Process/ordered_dataset/**/*.jpeg
Data-label-Process/ordered_dataset/**/*.jpg
Data-label-Process/ordered_dataset/**/*.png
Data-label-Process/ordered_dataset/**/*.gif
Data-label-Process/ordered_dataset/**/*.JPG
Data-label-Process/ordered_dataset/**/*.JPEG
Data-label-Process/ordered_dataset/**/*.PNG
Data-label-Process/ordered_dataset/**/*.GIF

Data-label-Process/ordered_dataset_foods_ready/**/*.jpeg
Data-label-Process/ordered_dataset_foods_ready/**/*.jpg
Data-label-Process/ordered_dataset_foods_ready/**/*.png
Data-label-Process/ordered_dataset_foods_ready/**/*.gif
Data-label-Process/ordered_dataset_foods_ready/**/*.JPG
Data-label-Process/ordered_dataset_foods_ready/**/*.JPEG
Data-label-Process/ordered_dataset_foods_ready/**/*.PNG
Data-label-Process/ordered_dataset_foods_ready/**/*.GIF


# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
